body 
{
    margin: 0;
    padding: 10px;
    font-family: 'Azeret Mono', monospace, Arial, Helvetica;
    background-color: lightgoldenrodyellow;
    min-width: 400px;
}

.input-el[type=text]
{
    font-family: 'Azeret Mono', monospace;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;

    padding:10px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
}

.input-el[type=text]:focus
{
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

#input-btn
{
    font-family: 'Azeret Mono', monospace;
    color: white;
    background-color: #5790f2;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 5px;
    border:none;
}

#input-btn:hover
{
    color: #5790f2;
    background-color: white;
    cursor: pointer;
}

#delete-btn
{
    font-family: 'Azeret Mono', monospace;
    color: white;
    background-color: #e68585;
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 5px;
    border:none;
}

#delete-btn:hover
{
    color: #e68585;
    background-color: white;
    cursor: pointer;
}

ul
{
    margin-top: 15px;
    list-style: none;
    padding-left: 0;
}

li
{
    margin-top: 6px;
}

a
{
    color: black;
}